*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include responsive(medium-large) { 
        font-size: 56.25%;
    }

    @include responsive(small) { 
        font-size: 50%;
    }
    
    @include responsive(large) {
        font-size: 62.5%;
    }
    
    @include responsive(x-large) {
        font-size: 75%;
    }
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;

    color: #fff;
}

