.feature {
    padding: 10rem 0;
    background-color: $color-black;
    @include responsive(medium-large) {
        padding: 5rem 0;
    }
    @include responsive(small-medium) {
        padding: 3rem 0;
    }

    &-top {

        &__intro {
            padding: 0 5rem;
            @include responsive(medium) {
                width: 80%;
                text-align: center;
            }
        }

        &__features {
            align-items: flex-end;
            padding: 5rem 2rem;
            
            &-row {
                @include responsive(medium) {
                    justify-content: center;
                }
            }

            &--box {
                padding: 2rem 3rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @include responsive(medium) {
                    flex-basis: 49.8%;
                    max-width: 49.8%;
                    margin: 0 auto;
                }
                @include responsive(small) {
                    flex-basis: 100%;
                    max-width: 100%;
                    padding: 1rem 5rem;
                    align-items: center;
                    text-align: center;

                border: 1px solid $color-grey-light;
                    // flex-direction: row;
                    // justify-content: center;
                    // align-items: center;
                }

                img {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &-bottom {
        width: 50%;
        margin-left: 25%;
        text-align: center;
        @include responsive(medium-large) {
            width: 70%;
            margin-left: 15%;
        }
    }

    &__background {
        background-image: url(../img/features-back.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__gallery {
        padding-bottom: 25rem;
        margin-top: 5rem;
        width: 90%;
        margin-left: 5%;
        @include responsive(large) {
            margin-left: -0.5%;
        }
        @include responsive(medium-large) {
            width: 75%;
            margin-left: -2%;
        }
        @include responsive(medium) {
            width: 75%;
            margin-left: -5%;
            padding-bottom: 18rem;
        }

        position: relative;
        &-img {
            position: absolute;

            @include responsive(medium) {
                &-1, &-2 {
                    display: none;
                }

            }

            &-1 {

            left: 9%;
            // @include responsive(large) {
            //     left: 3%;
            // }
            // @include responsive(medium) {
            //     left: 4%;
            // }

                &--1 {
                    position: absolute;
                }

                &--2 {
                    position: absolute;
                    top: 2rem;
                    left: 6rem;
                    @include responsive(x-large) {
                        left: 5rem;
                    }
                }

            }


            &-2 {
                left: 47%;
                // @include responsive(large) {
                //     left: 47%;
                // }
                // @include responsive(medium-large) {
                //     left: 38%;
                // }
                // @include responsive(medium) {
                //     left: 39%;
                // }

                &--1 {
                    position: absolute;
                }

                &--2 {
                    position: absolute;
                    top: 2rem;
                    left: 6rem;

                    @include responsive(x-large) {
                        left: 5rem;
                    }
                }
            }


            &-3 {
                left: 25%;
                @include responsive(large) {
                    left: 24%;
                }
                @include responsive(medium) {
                    left: 30%;
                }
                @include responsive(small-medium) {
                    left: 25%;
                }
                @include responsive(small) {
                    left: 16%;
                }
                // }@include responsive(medium-large) {
                //     left: 18%;
                // }
                @include responsive(medium) {
                    
                    max-width: 30rem;
                    position: relative;

                    &--1,
                    &--2 {
                        position: absolute;
                    }

                    &--1 {
                        width: 100%;
                        left: 8%;
                        margin-top: 3%;
                    }

                    &--2 {
                        width: 73%;
                    }
                }

                @include responsive(small) {
                    
                    &--1 {
                        left: 8%;
                    }
                }

                &--1 {
                    position: absolute;
                }

                &--2 {
                    position: absolute;
                    top: 2rem;
                    left: 6.5rem;
                    @include responsive(x-large) {
                        left: 5.5rem;
                    }
                }
            }
        }
    }
}