.news {
    padding: 7rem 0;
    background-color: $color-black-3;
    @include responsive(small-medium) {
        padding: 3rem 0;
    }

    &__intro {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__area {
        // padding: 1.5rem 0;
        display: flex;
        flex: 0 1 auto;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 3rem;

        @include responsive(large) {
            width: 90%;
            margin-left: 5%;
        }
        @include responsive(medium) {
            flex-wrap: wrap;
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
            
        }

        &--image {
            max-width: 33rem;
            height: auto;
            @include responsive(medium-large) {
                max-width: 28rem;
            }
            @include responsive(medium) {
                flex-basis: 100%;
                max-width: 100%;
                padding-left: 30%;
            }
            // @include responsive(small) {
            //     padding-left: 20%;
            //     max-width: 22rem;
            // }

            img {
                width: 100%;
                height: 25rem;
                @include responsive(medium) {
                    height: 23rem;
                }
                @include responsive(medium) {
                    height: 20rem;
                }
            }
        }

        &--content {
            width: 80%;
            @include responsive(large) {
                width: 85%;
            }
            @include responsive(medium-large) {
                width: 100%;
            }
            @include responsive(medium) {
                flex-basis: 100%;
                max-width: 100%;
                padding-right: 30%;
            }
            @include responsive(medium) {
                padding-right: 20%;
            }
            padding-top: 2rem;
        }

        &--description {
            position: relative;
            padding: 1rem 0 0 2rem;
            margin-top: 2rem;


            &::before {
                content: '';
                display: block;
                width: 3px;
                height: 5rem;
                background-color: $color-primary;
                position: absolute;
                top: 0;
                left: 0;
                // padding-right: 2rem;
            }
        }

        &-middle &--content {
            text-align: right;
            padding-top: .5rem;
            @include responsive(medium) {
                order: 1;
                padding-right: 0;
                padding-left: 30%;
            }
            @include responsive(medium) {
                order: 1;
                padding-left: 20%;
            }
        }
        &-middle &--image {
            @include responsive(medium) {
                padding-right: 30%;
                padding-left: 0;
            }
            @include responsive(medium) {
                padding-right: 20%;
                padding-left: 0;
            }
        }

        &-middle &--description {
            position: relative;
            padding: 1rem 2rem 0 2rem;

            &::before {
                content: '';
                display: block;
                width: 3px;
                height: 5rem;
                background-color: $color-primary;
                position: absolute;
                top: 0;
                left: 100%;
                // padding-right: 2rem;
            }
        }
    }
}